/* Css for the New Entry page */
.New_Entry{
    background: url('../Images/Bckg/mortality.jpg');
    background-size: cover;
    position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}


#Section_O_NewEntry form{
    display: flex;
    flex-direction: column;
}
#Section_O_NewEntry form{
    align-items: center;
}
#form_NE input{
   width: 50%;
   border-radius: 20%;
}

#Section_O_NewEntry{
    border-radius: 10% 35% ;
    padding-top: 2em;
    padding-bottom: 2em;
}

#form_NE button:hover{
    background: gold;
}

.labels{
    color: white;
}