/* Css for the New Entry page */
.New_Entry{
    background: url('../Images/Bckg/mortality.jpg');
    background-size: cover;
    position:relative; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    color: white;
}


#Section_O_NewEntry form{
    display: flex;
    flex-direction: column;
}
#Section_O_NewEntry form{
    align-items: center;
}
#form_NE input{
    width: 50%;
    border: 2px solid red;
    border-radius: 20%;
    background: transparent;
    color: aliceblue;
}

#Section_O_NewEntry{
    border-radius: 10% 35% ;
    padding-top: 2em;
    padding-bottom: 2em;
}

#form_NE button:hover{
    background: gold;
    color: black;
}

#form_NE button{
    margin-top: 1em;
    background: radial-gradient(red, blue);
    color: aliceblue;
    font: bold
}

.labels{
    color: white;
    font-size: large;
    text-transform:uppercase;
    text-decoration: wavy;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.New_Entry h1{
    color: aliceblue;
}