.The_Edit{
    background: url('../Images/Bckg/ufo.jpg');
    background-size: cover;
    position:relative; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100%;
    color: white;
}


#Section_O_Edit form{
    display: flex;
    flex-direction: column;
}
#Section_O_Edit form{
    align-items: center;
}


#form_Edit input{
    width: 50%;
    border: 2px solid red;
    border-radius: 20%;
    background: transparent;
    color: aliceblue;
    
}
#form_Edit label{
    font-weight: bold;
}

#Section_O_Edit{
    border-radius: 10% 35% ;
    padding-top: 2em;
    padding-bottom: 2em;
}

#form_Edit button:hover{
    background: gold;
    color: black;
}

#form_Edit button{
    margin-top: 1em;
    background: radial-gradient(red, blue);
    color: aliceblue;
    font-weight: bold
}

.labels{
    color: white;
    font-size: large;
    text-transform:uppercase;
    text-decoration: wavy;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.The_Edit h1{
    color: aliceblue;
}