.The_ScpDetails p{
    display: inline-block;
    width: 50vw;
}

.The_ScpDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background: black;
    color: aliceblue;
    width: 100vw;
    height: 100vh;
}

    
.The_ScpDetails img{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
    margin-top: 1.5em;
}

.The_button{
    width: 10%;
    display: inline-block;
    border-radius: 60px;
}


