.The_Home{
    background: url('/src/Components/Images/Bckg/eclipse.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.The_Home h1{
    text-align: center;
    font-weight: bold;
    color: azure;
}

.Home_description_s{
    margin-top: 2.5em;
}

#Scp_description_p{
    text-align: center;
}
