.The_Home{
    
    margin: 0;
    background: url('/src/Components/Images/Bckg/eclipse.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    color: aliceblue;
}

.Home_description_s{
    margin-top: 1.5em;
}
