/* Css for the SCP page  */

.The_SCP{
    background: url('../Images/Bckg/sun.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}

.The_SCP h1{
   
    background: rgb(30, 30, 30);
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin-bottom: 1.5em;
}
.Scp_List_Container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.Carousel_img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
