.The_News{
    background: url('../Images/Bckg/texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    color: white;
}